<!doctype html>
<html data-ng-app="app" data-ng-controller="PopupController as vm">
  <head>
    <meta charset="utf-8">
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/toastr/toastr.css" />
    <link rel="stylesheet" href="bower_components/ui-select/dist/select.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link data-ng-if="vm.options.theme" data-ng-href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/{{ vm.options.theme }}/bootstrap.min.css" rel="stylesheet">
    <!-- build:css styles/main.css -->
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body class="body popup" data-ng-cloak>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <span class="navbar-brand">
            <img alt="ICU Requestin'" src="images/icons/on/icon-128.png">
          </span>
          <span class="navbar-brand brand-text">ICU Requestin'</span>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-xs navbar-btn" data-ng-class="{ 'btn-primary': vm.enabled,  'btn-default': !vm.enabled }">
                    <input autocomplete="true" data-ng-model="vm.enabled" data-ng-value="true" type="radio">On
                  </label>
                  <label class="btn btn-xs navbar-btn" data-ng-class="{ 'btn-primary': !vm.enabled,  'btn-default': vm.enabled }">
                    <input autocomplete="false" data-ng-model="vm.enabled" data-ng-value="false" type="radio">Off
                  </label>
                </div>
              </li>
              <li>
                <button class="btn btn-danger btn-xs navbar-btn" data-ng-click="vm.clear()">Clear</button>
              </li>
            </ul>
          </div>
      </div>
    </nav>

    <div class="content container">
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-xs navbar-btn" data-ng-class="{ 'btn-primary': vm.showOnlyErrors,  'btn-default': !vm.showOnlyErrors }">
              <input autocomplete="true" data-ng-model="vm.showOnlyErrors" data-ng-value="true" type="radio">Show only errors
            </label>
            <label class="btn btn-xs navbar-btn" data-ng-class="{ 'btn-primary': !vm.showOnlyErrors,  'btn-default': vm.showOnlyErrors }">
              <input autocomplete="false" data-ng-model="vm.showOnlyErrors" data-ng-value="false" type="radio">Show all requests
            </label>
          </div>
        </div>
      </div>

      <div class="row" data-ng-if="!vm.requests">
        <div class="col-xs-12">
          <div class="request-list-no-items">
            <i class="fa fa-thumbs-o-up fa-2x pull-left" aria-hidden="true"></i> No error requests have been logged, yet...hopefully nothing breaks!
          </div>
        </div>
      </div>

      <div class="row" data-ng-if="vm.requests">
        <div class="col-xs-12">
          <div class="request-list-item" data-ng-repeat="request in vm.requests | reverse" data-ng-if="request.response && (vm.showOnlyErrors ? request.isError : true)">
            <div class="row">
              <div class="col-xs-9">
                <i data-ng-if="request.isError" class="fa fa-exclamation" aria-hidden="true" style="color: red;"></i>
                <i data-ng-if="!request.isError" class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                {{ request.response.url | removeQueryStringParams }}

                <table>
                  <tr>
                    <td>Time:</td><td>{{ request.response.timeStamp | amDateFormat:'M-D-YYYY, h:mm:ss a' }}</td>
                  </tr>
                  <tr>
                    <td>Method:</td><td>{{ request.response.method }}</td>
                  </tr>
                  <tr>
                    <td>Status:</td><td>{{ request.response.statusLine }}</td>
                  </tr>
                  <tr data-ng-if="request.response | getHeaderValue:'x-request-id'">
                    <td>x-request-id:</td><td><a href="#" data-ng-click="vm.searchInSumologic(request)" data-uib-tooltip="Search in Sumologic" data-tooltip-placement="right">{{ request.response | getHeaderValue:'x-request-id' }} <i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                  </tr>
                </table>

                <div>
                  <div data-ng-click="request.requestShown = !request.requestShown" style="cursor: pointer;">
                    <i class="fa fa-caret-right" aria-hidden="true" data-ng-if="!request.requestShown"></i>
                    <i class="fa fa-caret-down" aria-hidden="true" data-ng-if="request.requestShown"></i>
                    <strong>Request:</strong>
                  </div>
                  <div class="well" data-ng-if="request.requestShown">
                    <table>
                      <tr data-ng-repeat="(key, value) in request.request.requestHeaders">
                        <td>{{ value.name }}:</td><td>{{ value.value }}</td>
                      </tr>
                    </table>
                  </div>
                </div>

                <div>
                  <div data-ng-click="request.responseShown = !request.responseShown" style="cursor: pointer;">
                    <i class="fa fa-caret-right" aria-hidden="true" data-ng-if="!request.responseShown"></i>
                    <i class="fa fa-caret-down" aria-hidden="true" data-ng-if="request.responseShown"></i>
                    <strong>Response:</strong>
                  </div>
                  <div class="well" data-ng-if="request.responseShown">
                    <table>
                      <tr data-ng-repeat="(key, value) in request.response.responseHeaders">
                        <td>{{ value.name }}:</td><td>{{ value.value }}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>

              <div class="col-xs-3 text-right">
                <div class="btn-group" role="group" aria-label="...">
                  <button class="btn btn-sm btn-default" type="button" data-ng-click="vm.copyDescription(request)" data-uib-tooltip="Copy to clipboard" data-tooltip-placement="left"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                  <button class="btn btn-sm btn-primary" type="button" data-ng-if="!!(request.response | getHeaderValue:'x-request-id')" data-ng-click="vm.searchInSumologic(request)" data-uib-tooltip="Search in Sumologic" data-tooltip-placement="left"><i class="fa fa-search" aria-hidden="true"></i></button>
                  <button class="btn btn-sm btn-danger" type="button" data-ng-click="vm.remove(request)" data-uib-tooltip="Delete" data-tooltip-placement="left"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/toastr/toastr.js"></script>
    <script src="bower_components/ui-select/dist/select.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/popup.js -->
    <script src="scripts/app.module.js"></script>
    <script src="scripts/popup.controller.js"></script>
    <!-- endbuild -->
  </body>
</html>
