<!doctype html>
<html data-ng-app="app">
  <head>
  </head>
  <body>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <script src="../bower_components/angular-moment/angular-moment.js"></script>
    <script src="../bower_components/toastr/toastr.js"></script>
    <script src="../bower_components/ui-select/dist/select.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="../scripts/chromereload.js"></script>

    <!-- build:js scripts/background.js -->
    <script src="../scripts/app.module.js"></script>
    <script src="../scripts/constants/availableThemes.constant.js"></script>
    <script src="../scripts/constants/availableUrls.constant.js"></script>
    <script src="../scripts/constants/defaultOptions.constant.js"></script>
    <script src="../scripts/constants/isError.constant.js"></script>
    <script src="../scripts/constants/toastr.constant.js"></script>
    <script src="../scripts/filters/getHeaderValue.filter.js"></script>
    <script src="../scripts/filters/removeQueryStringParams.filter.js"></script>
    <script src="../scripts/filters/reverse.filter.js"></script>
    <script src="../scripts/run/background.run.js"></script>
    <!-- endbuild -->
  </body>
</html>
